<h2 (click)="isCollapsed = !isCollapsed">{{title}}</h2>
<div [collapse]="isCollapsed" >
  <div class="well">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Blueprint</th>
            <th>Score/Level</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blueprint of blueprints | async">
            <td [innerHTML]="blueprint.name"></td>
            <td>{{blueprint.score}}</td>
            <td>{{blueprint.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div [collapse]="!isCollapsed" >
  <div class="well">
  </div>
</div>
