<header></header>
<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1" >
    <division-blueprints></division-blueprints>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <division-gear></division-gear>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <division-gear-mods></division-gear-mods>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <division-weapons></division-weapons>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <division-weapon-mods></division-weapon-mods>
  </div>
  <div class="col-md-12">
    <footer></footer>
  </div>
</div>
