<div>
  <div class="btn-toolbar pull-right">
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-primary btn-sm" (click)="filterElec()" [ngClass]="isFilteredElec ? 'btn-danger' : 'btn-success'">Electronics</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="filterStam()" [ngClass]="isFilteredStam ? 'btn-danger' : 'btn-success'">Stamina</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="filterFire()" [ngClass]="isFilteredFire ? 'btn-danger' : 'btn-success'">Firearms</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="filterPerf()" [ngClass]="isFilteredPerf ? 'btn-danger' : 'btn-success'">Performance</button>
    </div>
  </div>
  <h2 (click)="isCollapsed = !isCollapsed" style="cursor: pointer;">{{title}}
    <span [ngClass]="!isCollapsed ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'"></span>
  </h2>
</div>
<div [collapse]="isCollapsed" >
  <div class="well">
    <div class="container-fluid">
      <div class="row">
        <div id="custom-search-input" class="col-lg-3 col-md-6 col-sm-6 col-xs-6 pull-right">
          <div class="input-group input-group-sm">
            <input #box type="text" class="search-query form-control" placeholder="Search" (keyup.enter)="filterKeyword(box.value)" />
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button" (click)="filterKeyword(box.value)">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
        <button class="btn-danger btn-sm pull-right top-buffer-10 right-buffer-5"
                type="button" *ngIf="filteredKeyword != ''" (click)="box.value = ''; clearFilter()">Clear Filter
        </button>
      </div>
      <div class="row">
        <div *ngFor="let mod of getGearMods()">
          <div class="col-lg-3 col-md-6 col-sm-6 col-sm-12" *ngIf="isFiltered(mod)">
            <div class="project" [ngClass]="getRarity(mod)">
              <div class="shape">
                <div class="shape-text">
                  <div *ngIf="!this.uuid">
                    <a [routerLink]="['/gearmods', mod.getHash()]"><span class="glyphicon glyphicon-link"></span></a>
                  </div>
                </div>
              </div>
              <div class="project-content" style='height:15em'>
                <h4 class="lead">
                  {{mod.name}}
                </h4>
                <table class="table table-bordered table-striped table-sm">
                  <tr><td class="cell-high text-center" colspan="3">{{mod.vendor}}</td></tr>
                  <tr>
                    <td style="text-align: center;" colspan="1">{{mod.stat}}</td>
                    <td style="text-align: center;" colspan="2">{{mod.price}}</td>
                  </tr>
                  <tr><td data-content='attribute' style="text-align: center;" colspan="3">{{mod.attribute}}</td></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [collapse]="!isCollapsed" >
  <div class="well">
    <h4>Gear Mods: {{getGearMods().length}}</h4>
  </div>
</div>
